@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.spinner-border {
  vertical-align: -.125em;
  border: .25em solid;
  border-right-color: transparent;
}
